<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      <%= render 'shared/micropost_form' %>
      <div class="pagination_top"><%= will_paginate @microposts %></div>
      <% unless @user.microposts.empty? %>
        <table class="microposts" summary="User microposts">
          <%= render @microposts %>
        </table>
        <%= will_paginate @microposts %>
      <% end %>
    </td>
    <td class="sidebar round">
      <strong>Name</strong> <span><%= @user.name %></span><br />
      <strong>URL</strong>  <%= link_to user_path(@user), @user %> <br />
      <strong>Microposts</strong> <span><%= @user.microposts.count %></span>
    </td>
</table>